<template>

    <lightning-card title="Simple Light Box">

        <div class="slds-p-around_medium">

            <lightning-button label="Open Gallery" onclick={openGalleryHandler}></lightning-button>

        </div>
    </lightning-card>
    
</template>