<template>
    <lightning-card title="Hello World LWC">
        <div class="hello-world">Hello {greeting}</div>
        <lightning-input label ="Greeting" onchange ={greetingChangeHandler}></lightning-input>
    </lightning-card>
</template>