<template>
    <lightning-card title="All Acounts">

        <lightning-input type="number" label="Number of Accounts" onchange={numberChangeHandler}></lightning-input>
        <p><lightning-button label="Get Accounts" variant="brand" onclick={getAccounts}></lightning-button></p>
        <ul>

             <template if:true={accounts} for:each={accounts} for:item="acc" for:index="index">
               <li key={acc.Id}>
                   <div class="slds-p-around_small"> 
                    <lightning-tile label={acc.Name} href="/path/to/somewhere" type="media">
                        <lightning-icon slot="media" icon-name="standard:account"></lightning-icon>
                        <p class="slds-truncate" title={acc.Phone}>{acc.Phone}</p>
                    </lightning-tile>
                   </div>
               </li>
            </template>
        </ul>
    </lightning-card>
    
</template>