<template>
    <lightning-card title="Custom Record Form">

        <div class="slds-p-around_medium">
            <lightning-record-form object-api-name={objectApiName} record-id={recordId} columns="2" mode="view" layout-type="Full" fields ={fieldsarr} onsuccess={successHandler}>

            </lightning-record-form>
        </div>
    </lightning-card>
</template>