<template>
    <lightning-card title="child method call">

        <lightning-input label ="Color Name" value={value} onchange={colorChangeHandler}></lightning-input>
        <lightning-button label ="Get Color" onclick={checkboxSelectHandler}></lightning-button>
        <c-public-method-child></c-public-method-child>
    </lightning-card>
</template>