<template>
    <lightning-card title="Navigation Example">

    <div class="slds-p-around_medium">
        <lightning-button label="open sfdc facts" onclick={openSfdcFacts}></lightning-button> 
    </div>
        
    <div class="slds-p-around_medium">
        <lightning-button label="Account Home" onclick={openAccountHome}></lightning-button> 
    </div>

    <div class="slds-p-around_medium">
        <lightning-button label="Contact Record" onclick={openContactRecord}></lightning-button> 
    </div>

    <div class="slds-p-around_medium">
        <lightning-button label="Case List View" onclick={openCaseListView}></lightning-button> 
    </div>

    <div class="slds-p-around_medium">
        <lightning-button label="LDS Tab" onclick={openLDS}></lightning-button> 
    </div>
    </lightning-card>
</template>