<template>
    <lightning-input type="checkbox" label ="showDiv" onchange={showDivHandler}></lightning-input>
    <template if:true ={displayDiv}>
        <div>I am here </div>
    </template>
    <template if:false ={displayDiv}>
        <div>I am false </div>
    </template>

    <template for:each={cityList} for:item="city">
        <p key={city}>{city}</p>
    </template>


    <h1>Using Iterator</h1>
    <template iterator:it={cityList}>
        <p key={it.value}>{it.value}</p>
    </template>
</template>