<template>

    <lightning-card title="Account Manager Via Forms">

        <lightning-layout>
            <lightning-layout-item padding="around-small" size="6">
                <lightning-card title="Create a Account Record">
                    <lightning-record-edit-form object-api-name="Account" onsuccess={successHandler}>

                        <p><lightning-input-field field-name="Name"></lightning-input-field></p>
                        <p><lightning-input-field field-name="Phone"></lightning-input-field></p>
                        <p><lightning-input-field field-name="Website"></lightning-input-field></p>

                        <lightning-button type="submit" label="save" variant="brand"></lightning-button>
                    </lightning-record-edit-form>

                </lightning-card>

            </lightning-layout-item>

            <lightning-layout-item padding="around-small" size="6">
                <template if:true={recordId}>
                    <lightning-card title="View a Account Record">

                        <lightning-record-view-form record-id={recordId} object-api-name="Account">

                            <div class="slds-box">

                                <p><lightning-output-field field-name="Name"></lightning-output-field></p>
                                <p><lightning-output-field field-name="Phone"></lightning-output-field></p>
                                <p><lightning-output-field field-name="Website"></lightning-output-field></p>

                            </div>
                        </lightning-record-view-form>
                        
                    </lightning-card>
            </template>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
    
</template>