<template>
    <lightning-card title="Meeting Channel">

        <lightning-layout>
            <lightning-layout-item padding="around-medium">
                <template if:true={isMeetingDataFound}>
                    <div>
                        you have selected : {meetingData.roomName} with capacity :{meetingData.roomCapacity}
                    </div>
                </template>
            </lightning-layout-item>
        </lightning-layout>
        
    </lightning-card>
</template>