<template>

<lightning-card title ="View Meta Data" icon-name ="utility:collection">

    <lightning-layout padding ="around-medium" multiple-rows>

        <lightning-layout-item padding ="around-medium" size="6">
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" icon-name="utility:search"></lightning-icon>
                <input id="input" name="input" list="valueList" placeholder="Search Object"  class="slds-input" type="text" onchange={getObjectFieldsData} />
                <datalist id="valueList" class="">
                    <template for:each={objectList} for:item='obj'>
                        <option key={obj.key} value={obj.key}>{obj.value}</option>
                    </template>
                </datalist>
            </div>
        </lightning-layout-item>

        <template if:true={fetchedFields} >

            <lightning-layout-item padding="around-medium" size="12">

                <lightning-datatable key-field="fieldName" data={objFieldsData} columns={columns}
                                    sorted-by={sortBy} sorted-direction={sortDirection} onsort={sortHandler} hide-checkbox-column="true"></lightning-datatable>
            </lightning-layout-item>
          
        </template>
    </lightning-layout>
</lightning-card>

</template>