<template>
    <lightning-card title="Account Manager">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Create A New Account ">
                    <lightning-input type="text" label="Account Name" onchange={accountNameHandler}></lightning-input>
                    <lightning-input type="phone" label="Account Phone" onchange={accountPhoneHandler}></lightning-input>
                    <lightning-input type="url" label="Account Website" onchange={accountWebsiteHandler}></lightning-input>

                    <lightning-button label="create Account" onclick={createAccount} variant="brand"></lightning-button>
                </lightning-card>

            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <template if:true={accountRecord.data}>
                    <lightning-card title="View Account Record">
                        <p><lightning-formatted-text value={accountRecord.data.fields.Name.value}></lightning-formatted-text></p>
                        <p><lightning-formatted-phone value={accountRecord.data.fields.Phone.value}></lightning-formatted-phone></p>
                        <p><lightning-formatted-url value={accountRecord.data.fields.Website.value}></lightning-formatted-url></p>
                    </lightning-card>
            </template>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>