<template>
    <lightning-card title="Message LWC">

        <div class="slds-p-around_medium">
            <!--Iterator over the list-->
            <template for:each={messages} for:item="msg">
                <div key={msg.id} class="message">

                    {msg.value} > {msg.from}
                </div>
            </template>
        </div>

        <div class="slds-p-around_medium">
            <lightning-layout multiple-rows>

                <lightning-layout-item size="12" padding="around-medium">

                    <lightning-input label ="Enter Text" ></lightning-input>

                </lightning-layout-item>

                <lightning-layout-item size="12" padding="around-medium">
                    <lightning-button label="send" variant="brand" icon-name="utility:send" onclick={sendHandler}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </lightning-card>
</template>