<template>
    <lightning-card title="Meeting Rooms">
        <lightning-layout>
            <lightning-layout-item size="4" padding="around-medium">
                <ul>
                    <template for:each={meetingRoomInfo} for:item="room">
                        <li key={room.roomName} style="padding: 10px;">
                            
                            <!--<c-meeting-room show-room-info meeting-room-info={room} ontitleclick={titleClickHandler}></c-meeting-room>-->
                            <c-meeting-room show-room-info meeting-room-info={room}>
                               <!--<lightning-tile label={room.roomName} href="/path/to/somewhere" slot="roomInfo">
                                    <p class="slds-truncate" title={room.roomCapacity}>Room Capacity : {room.roomCapacity}</p>
                                </lightning-tile>
                                <div>there is an additonal mark up </div>-->
                            </c-meeting-room>

                           
                        </li>
                    </template>
                </ul>
            </lightning-layout-item>
            <template if:true={selectedRoomInfo}>
                <lightning-layout-item size="8" padding="around-medium">

                    you have selected : {selectedRoomInfo}
                </lightning-layout-item>
            </template>
        </lightning-layout>
        
    </lightning-card>
</template>