<template>
    <lightning-card title={cardTitle}>

        <lightning-input type="number" step="0.01" label ="Weight in kilogram " onchange={weightChangeHandler}></lightning-input>
        <lightning-input type="number" step="0.01" label ="Height in meter " onchange={heightChangeHandler}></lightning-input>
        <lightning-button label="Get BMI" onclick={calculateBMI}></lightning-button>
        <p>
            {bmiValue}
        </p>

    </lightning-card>
</template>